
#section_2126026995 {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 560px;
}
#section_2126026995 .section-bg-overlay {
  background-color: rgba(20,10,10,.42);
}
#section_2126026995 .section-bg img {
  object-position: center;
}
@media (min-width:550px) {
  #section_2126026995 {
    min-height: 640px;
  }
}
