
#section_568827471 {
  padding-top: 30px;
  padding-bottom: 30px;
}
#section_568827471 .section-bg-overlay {
  background-color: rgba(118,13,20,.9);
}
#section_568827471 .section-bg img {
  object-position: 70% 50%;
}
